name: Wails build

on:
  release:
    types: [created]
    
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build: [
          {name: bili-FM, platform: linux/amd64, os: ubuntu-latest},
          {name: bili-FM, platform: windows/amd64, os: windows-latest},
          {name: bili-FM, platform: darwin/universal, os: macos-latest}
        ]
    runs-on: ${{ matrix.build.os }}
    steps:
      - uses: actions/checkout@v4
      - name: install pnpm
        run: npm install -g pnpm
      - uses: dAppServer/wails-build-action@main
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
