on:
  release:
    types: [created]

permissions:
 contents: write
 packages: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build: [
          {name: biliFM, platform: linux/amd64, os: ubuntu-latest},
          {name: biliFM, platform: windows/amd64, os: windows-latest},
          {name: biliFM, platform: darwin/universal, os: macos-latest}
        ]
    runs-on: ${{ matrix.build.os }}
    steps:
      - uses: dAppServer/wails-build-action@v3
        with:
          build-name: ${{ matrix.build.name }}
          build-platform: ${{ matrix.build.platform }}
          package: true